.idea
.vscode
.venv
.vagrant

*.pyc
.pytest_cache
.retry
.orig

**.swp

.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

build/launchcontainer

terraform/bc-eks-staging/env/staging/config-map-aws-auth_bc-eks-staging.yaml
terraform/bc-eks-staging/env/staging/kubeconfig_bc-eks-staging
terraform/bc-eks-staging/env/dev/config-map-aws-auth_bc-eks-dev.yaml
terraform/bc-eks-staging/env/dev/kubeconfig_bc-eks-dev

